<div class="flex sticky w-full top-0 z-50 flex-col">
  <div class="w-full bg-[#39B6CC] h-[22px]"></div>
  <div class="flex items-center xl:px-20 px-4 justify-between bg-white">
    <button class="lg:hidden block" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <div class="flex flex-col gap-3 p-2">
        <a
          *ngFor="let link of links"
          [href]="link.title.toLowerCase()"
          routerLinkActive="active"
          class="text-sm font-bold flex hover:text-white hover:bg-[#63CCD3] items-center gap-2"
        >
          <img [src]="'assets/icons/' + link.icon" [alt]="link.title" />
          <span class="text-[#0A2540] font-medium text-[16px]">{{
            link.title
          }}</span>
        </a>
        <button
          class="bg-[#158BA0] sm:hidden rounded-full p-2 font-semibold text-[16px] text-white"
        >
          Fri fragt på alle order over 1000kr
        </button>
      </div>
    </mat-menu>

    <div class="flex items-enter py-3 gap-4 xl:gap-6">
      <a
        *ngFor="let link of links"
        [href]="link.title.toLowerCase()"
        routerLinkActive="active"
        class="text-sm font-bold hidden lg:flex items-center gap-2"
      >
        <img [src]="'assets/icons/' + link.icon" [alt]="link.title" />
        <span class="text-[#0A2540] font-medium text-[16px]">{{
          link.title
        }}</span>
      </a>

      <button
        mat-button
        class="bg-[#001834] h-fit p-2 text-white rounded-md flex items-center gap-2"
      >
        <div class="flex gap-2 items-center">
          <img src="/assets/icons/pcPlatform.svg" alt="Pc Konfigurator" />
          <div class="font-semibold text-[16px]">Pc Konfigurator</div>
        </div>
      </button>
    </div>
    <button
      class="bg-[#158BA0] sm:block hidden rounded-full py-1 px-2 font-semibold text-[16px] text-white"
    >
      Fri fragt på alle order over 1000kr
    </button>
  </div>
</div>
