<div class="grid lg:grid-cols-2 gap-4">
  <div class="bg-white p-4 rounded-2xl shadow-xl mt-4">
    <div class="h-full flex items-center">
      <div class="flex flex-col justify-between m-auto items-center">
        <i class="w-16 h-16 p-4 pi pi-check bg-[#0CB9DE] text-3xl text-white rounded-full my-4 font-bold"></i>
        <p class="font-bold font-[Quicksand] text-lg px-8 py-4 text-[#0CB9DE]">Your Licensed Payment Complete</p>
        <p class="font-bold font-[Quicksand] text-sm px-8">You will receive an email with your licensed order details.
        </p>
        <button
          class="rounded-full px-8 py-2 my-4 hover:bg-[#0CB9DE] hover:text-white duration-300 text-[#0CB9DE] font-[Quicksand] text-md bg-white border border-[#0CB9DE]"
          [routerLink]="['/']">Go to Hydroflex Dashboard</button>
      </div>
    </div>
  </div>
  <div class="bg-white p-4 rounded-2xl shadow-xl mt-4 flex flex-col justify-between">
    <h2 class="font-[Quicksand] font-bold text-2xl my-4">Download License</h2>
    <div class="flex mb-4">
      <img src="../../../../assets/images/qr.png" alt="QR" class="w-[25%] " />
      <div class="px-4 flex flex-col">
        <h2 class="font-[Quicksand] font-bold text-xl">Hydro Engineering Service Limited</h2>
        <p class="py-1">
          <i class="pi pi-calendar"></i>
          23 DEC 2023 - 23 DEC 2024
        </p>
        <div class="w-fit text-white px-8 py-1 text-xs bg-[#0CB9DE] rounded-lg text-center mt-2">Active License</div>
      </div>
    </div>
    <div class="my-4 grid grid-cols-2 gap-4">
      <div class="place-self-center">
        <div class="flex mb-4">
          <img src="../../../../assets/images/acrobat.png" alt="pdf" class="w-6" />
          <p class="px-2 self-center font-[Quicksand] text-sm">License in PDF Format</p>
        </div>
        <img src="../../../../assets/images/license.png" alt="License">
      </div>
      <div class="place-self-center">
        <div class="flex mb-4">
          <img src="../../../../assets/images/acrobat.png" alt="PNG" class="w-6" />
          <p class="px-2 self-center font-[Quicksand] text-sm">License in PNG Format</p>
        </div>
        <img src="../../../../assets/images/license.png" alt="License">
      </div>
    </div>
    <div class="text-center">
      <button class="mt-4 w-[80%] rounded-full bg-[#0CB9DE] text-white py-2 font-[Quicksand] font-bold"
        >Download</button>
    </div>
  </div>
</div>