<div class="relative z-10 bg-[#21484F] p-5 text-white">
    <div class="mx-4 bg-[#ffffff3f] h-1 rounded-full"></div>
    <div
      class="flex flex-wrap gap-5 mt-1 justify-between font-[OpenSans] px-6 py-3"
    >
      <div>
        <p class="text-[19.75px] leading-[29.6px] font-extrabold mb-3">
          Services
        </p>
        <div class="flex flex-col gap-2">
          <p class="font-semibold text-[17.78px]">Bike and Rickshaw rental</p>
          <p class="font-semibold text-[17.78px]">Guided Tours of Lucca</p>
          <p class="font-semibold text-[17.78px]">Guided Bike Tour of Lucca</p>
          <p class="font-semibold text-[17.78px]">Trip In The Tuscan Hills</p>
          <p class="font-semibold text-[17.78px]">Transportation With Luxury Cars</p>
          <p class="font-semibold text-[17.78px]">Wine Tours By Bus With Guide</p>
        </div>
      </div>
      <div>
        <p class="text-[19.75px] leading-[29.6px] font-extrabold mb-3">
          Home
        </p>
        <div class="flex flex-col gap-2">
          <p class="font-semibold text-[17.78px]">Home</p>
          <p class="font-semibold text-[17.78px]">About Us</p>
          <p class="font-semibold text-[17.78px]">Tour Packages</p>
        </div>
      </div>
      <div>
        <p class="text-[19.75px] leading-[29.6px] font-extrabold mb-3">
          Help
        </p>
        <div class="flex flex-col gap-2">
          <p class="font-semibold text-[17.78px]">Terms of Use</p>
          <p class="font-semibold text-[17.78px]">Provicy Policy</p>
        </div>
      </div>
      <div>
        <p class="text-[19.75px] leading-[29.6px] font-extrabold mb-3">
          Contacts
        </p>
        <div class="flex flex-col gap-2">
          <div class="flex gap-2 items-center">
            <img
              src="../../../assets/icons/location.svg"
              alt=""
              class="w-5 h-5"
            />
            <p class="font-semibold text-[17.78px]">Piazza Napoleone, Lucca, Tuscany</p>
          </div>
          <div class="flex gap-2 items-center">
            <img
              src="../../../assets/icons/phone.svg"
              alt=""
              class="w-5 h-5"
            />
            <p class="font-semibold text-[17.78px]">+39 346 368 5708</p>
          </div>
          <div class="flex gap-2 items-center">
            <img
              src="../../../assets/icons/email.svg"
              alt=""
              class="w-5 h-5"
            />
            <p class="font-semibold text-[17.78px]">italiainlimo&#64;gmail.com</p>
          </div>
        </div>
      </div>
      <div>
        <p
          class="text-[19.75px] leading-[29.6px] font-extrabold mb-3 text-center"
        >
          Social Media
        </p>
        <div class="flex gap-4 justify-center">
          <a href="">
            <img
              src="../../../assets/icons/twitter.svg"
              alt=""
              class="w-10 h-10"
            />
          </a>
          <a href="">
            <img
              src="../../../assets/icons/facebook.svg"
              alt=""
              class="w-10 h-10"
            />
          </a>
          <a href="">
            <img
              src="../../../assets/icons/instargram.svg"
              alt=""
              class="w-10 h-10"
            />
          </a>
        </div>
      </div>
    </div>
    <div class="mx-4 bg-[#ffffff3f] h-0.5 max-w-[70%] rounded-full"></div>
    <p class="text-center w-full py-3">
      Copyright © {{ currentYear }}. All rights reserved.
    </p>
  </div>