<!-- <div class="relative">
  <landing-sidebar></landing-sidebar>
  <div>
    <section
      class="flex border-[#F9C301] text-[1.43344rem] items-center justify-between pl-5 bg-[#0092E1] text-white border-b-2 ">
      <ul class="flex gap-10 my-2 max-xl:flex-wrap">
        <li>Home</li>
        <li>About Us</li>
        <li>Executive Secretary</li>
        <li>Staffs</li>
        <li class="flex items-center justify-center gap-1 bg-[#F9C301] px-2 -my-2">
          Operators <img src="../../../assets/images/temp/dropdown.svg" alt="" />
        </li>
        <li>Contact Us</li>
        <li>Subscribe</li>
        <li class="flex items-center justify-center">
          <img src="../../../assets/images/temp/settings.svg" alt="" />Settings
        </li>
      </ul>
      <button class="flex items-center gap-2 border border-white bg-[#F9C301] p-2.5 text-lg rounded font-semibold">
        <img src="../../../assets/images/temp/login.svg" alt="" />Hydronet Login
      </button>
    </section>
    <section class="flex border banner bg-cover bg-no-repeat">
      <div class="flex w-full">
        <img src="../../../assets/images/temp/sidebanner.png" alt="" class="rounded-r-full max-sm:hidden" />
        <h2 class="text-[#0F5763] text-5xl font-bold max-sm:text-3xl stroke  mx-auto mt-10">
          BOREHOLE DRILLERS OPERATORS
        </h2>
      </div>
    </section>
    <section class="py-5">
      <ul class="flex justify-around flex-wrap gap-5">
        <li class="flex flex-col items-center">
          <img src="../../../assets/images/temp/permits.svg" alt="" />Permits
        </li>
        <li class="flex flex-col items-center">
          <img src="../../../assets/images/temp/license.svg" alt="" />License
        </li>
        <li class="flex flex-col items-center">
          <img src="../../../assets/images/temp/programs.svg" alt="" />Programs
        </li>
        <li class="flex flex-col items-center">
          <img src="../../../assets/images/temp/drinking.svg" alt="" /> Drinking Water 
        </li>
        <li class="flex flex-col items-center">
          <img src="../../../assets/images/temp/water.svg" alt="" /> Water Quality 
        </li>
        <li class="flex flex-col items-center">
          <img src="../../../assets/images/temp/search.svg" alt="" />Search
        </li>
        <li class="flex flex-col items-center">
          <img src="../../../assets/images/temp/rights.svg" alt="" /> Water Rights 
        </li>
        <li class="flex flex-col items-center">
          <img src="../../../assets/images/temp/notices.svg" alt="" />Notices
        </li>
        <li class="flex flex-col items-center">
          <img src="../../../assets/images/temp/web.svg" alt="" />Web Tool
        </li>
        <li class="flex flex-col items-center">
          <img src="../../../assets/images/temp/web2.svg" alt="" />Web Tool
        </li>
      </ul>
    </section>
    <section class="bg-[#07912E] pb-2">
      <div class="h-[1rem] bg-[#F7C600] w-full"></div>
      <div class="py-5 px-3 bg-white rounded-xl m-3 flex max-lg:flex-col gap-5">
        <section class=" flex gap-10 flex-col">
          <h3 class="text-black font-black text-4xl leading-10 p-3 pb-0">
            LASWARCO Answers: Who & How for State Drillers!
          </h3>
          <div class="bg-[#D4E8EA] rounded-xl p-3 flex gap-5 flex-col">
            <div class=" flex gap-5 max-lg:flex-wrap ">
              <div class="bg-[#0094DE] rounded-xl px-5 py-2 flex items-center flex-col gap-3">
                <img src="../../../assets/images/temp/truck.png" alt="" />
                <p class="text-[#E6FBFF] font-bold text-[0.8rem] ">
                  BOREHOLE DRILLING COMPANY
                </p>
              </div>
              <div class="bg-white rounded-xl px-5 py-2 flex items-center flex-col gap-3">
                <img src="../../../assets/images/temp/technician.png" alt="" />
                <p class="text-[#0E839C] font-bold text-[0.8rem] ">
                  DRILLER / TECHNICIAN
                </p>
              </div>
              <div class="bg-white rounded-xl px-5 py-2 flex items-center flex-col gap-3">
                <img src="../../../assets/images/temp/technician.png" alt="" />
                <p class="text-[#0E839C] font-bold text-[0.8rem]">
                  DRILLING MACHINE/EQIP.
                </p>
              </div>
              <div class="bg-white rounded-xl px-5 py-2 flex items-center flex-col gap-3">
                <img src="../../../assets/images/temp/technician.png" alt="" />
                <p class="text-[#0E839C] font-bold text-[0.8rem]">
                  BOREHOLE DRILLING COMPANY
                </p>
              </div>
            </div>
            <div
              class="bg-[#A2D4D9] border border-[#2594A8] rounded-xl gap-5 flex flex-col py-4 px-2 text-xl font-normal leading-6 text-black">
              <p>
                By the regulation, the Commission can not issue a Borehole
                Driller’s license but a “Borehole Drilling license”. The
                Commission is expected by law to enthrone controls over the
                activities of the drillers in abstracting the groundwater
                resources. Hence, a borehole drilling license is a regulatory
                certificate authorizing a proponent to access the groundwater
                resources and certifying a driller’s competence on the technical
                knowhow of harnessing groundwater in line with the Commission
                practice order.
              </p>
              <p>
                The license empowers a driller to harness or carry out borehole
                drilling activities in any part of the state. The license is not
                transferable and subject to revocation. The License can be
                obtained by either as an individual or as a corporate body or
                organization, the difference would be in the approved regulatory
                fees and it has an expiring period when it should be renewed
                subject to a further regulatory inspection clearance by the
                Geo-Scientist
              </p>
            </div>
          </div>
          <div class="border rounded-xl p-3 shadow-xl">
            <h3 class="text-black font-bold text-[2.39031rem] leading-10 p-3 bg-[#F5F5F5] rounded-t-xl">
              Lagos State Water Regulatory Commission (LASWARCO)
            </h3>
            <div class="flex flex-col gap-10">
              <p class="font-normal text-2xl pt-3">
                The Lagos State Water Regulations Commission (LSWRC) has
                implemented an online registration system for borehole drillers
                to obtain a license. This new system aims to streamline the
                registration process and ensure proper regulation of borehole
                drilling activities within Lagos State. By registering online
                through the LSWRC website, borehole drillers can now
                conveniently obtain the required license and comply with the
                state's regulations.
              </p>
              <div>
                <h4 class="font-bold text-2xl">Step-by-step Guide:</h4>
                <ul class="list-disc p-5 ml-5 flex flex-col gap-5">
                  <li class="text-2xl font-normal">
                    1. Visit the Lagos State Water Regulations Commission
                    website: Open a web browser and navigate to the official
                    website of the LSWRC (https: // www.lswrc. gov.ng).
                  </li>
                  <li class="text-2xl font-normal">
                    2. Navigate to the Borehole Drillers Registration page: On
                    the home page of the LSWRC website, look for the "Borehole
                    Drillers" section, typically found in the navigation menu.
                  </li>
                  <li class="text-2xl font-normal">
                    3. Read the guidelines and requirements: Once you have
                    accessed the Borehole Drillers Registration page, carefully
                    read and understand the guidelines, requirements, and any
                    other relevant information provided. These guidelines will
                    provide you with a better understanding of the necessary
                    documents, fees, and procedures involved.
                  </li>
                  <li class="text-2xl font-normal">
                    4. Fill out the online registration form: Click on the
                    "Register now" or similar button to proceed with the online
                    registration process. You will be directed to a form that
                    requires you to input personal and business details, such as
                    your name, contact information, company name, address, and
                    other relevant information. Fill out all mandatory fields
                    accurately.
                  </li>
                  <li class="text-2xl font-normal">
                    5. Upload required documents: The online registration form
                    will prompt you to upload specific documents, such as your
                    company's registration certificate, tax identification
                    number, certificate of incorporation, and any other required
                    supporting documents. Scan these documents in advance and
                    ensure they meet the specified file format and size
                    requirements.
                  </li>
                  <li class="text-2xl font-normal">
                    6. Pay the registration fee: Once you have completed the
                    registration form and uploaded the necessary documents, you
                    will be prompted to make a payment for the registration fee.
                    The website will guide you through various payment options,
                    such as online banking, debit or credit card, or designated
                    payment centers. Follow the instructions and make the
                    payment accordingly.
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="rounded-xl shadow-lg border">
            <h3 class="rounded-t-xl p-3 bg-[#F5F5F5] border-b">
              Upcoming Events
            </h3>
            <div class="px-5 py-2 flex flex-col gap-5">
              <div class="flex flex-wrap gap-14 ">
                <div class="w-72">
                  <p class="text-[#0CB9DE]">
                    Consideration of Adoption of the Lahontan Bacteria Basin
                    Plan Amendment and SED
                  </p>
                  <p class="text-[#333]">January 17, 2024</p>
                  <p class="text-[#D34A37]">Revised Notice</p>
                </div>
                <div class="w-72">
                  <p class="text-[#0CB9DE]">
                    Consideration of Approval of Dominguez Channel and Greater
                    Los Angeles and Long Beach Harbor Waters Toxic Pollutants
                    TMDL
                  </p>
                  <p class="text-[#333]">January 17, 2024</p>
                  <p class="text-[#D34A37]">Notice</p>
                </div>
                <div class="w-72">
                  <div>
                    <span class="text-[#0CB9DE] flex gap-2 items-center">
                      <img src="../../../assets/images/temp/click.svg" alt="" />Remote
                      Meeting</span>
                    - Information on how to participate in State Water Board
                    meetings remotely
                  </div>

                  <p class="text-[#0CB9DE]">2023 Meeting Calendar</p>
                  <p class="text-[#0CB9DE] flex items-center gap-2">
                    <img src="../../../assets/images/temp/blue_tube.svg" alt="" /> Meeting
                    broadcasts
                  </p>
                </div>
                <div class="w-72">
                  <p class="text-[#0CB9DE]">
                    Consideration of Adoption of Santa Ynez River Basin Nitrogen
                    Compounds TMDL
                  </p>
                  <p class="text-[#333]">January 17, 2024</p>
                  <p class="text-[#D34A37]">
                    Revised Notice | Aviso Modificado
                  </p>
                </div>
              </div>
              <div class="flex gap-2 flex-col">
                <h6 class="ml-2 text-xl">Exams</h6>
                <div class="ml-5">
                  <p class="text-[#0CB9DE]">
                    Drinking Water Operator Certification Exam
                  </p>
                  <p class="text-[#0CB9DE]">
                    Wastewater Operator Certification Exam
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="flex flex-col   gap-5">
          <button class="font-black text-2xl text-[#B2F7AD] bg-[#07912E] py-2 px-5 rounded-xl mx-auto">
            OPERATORS STATISTICS
          </button>
          <div class="w-[28rem] max-lg:w-full border p-5 mx-2  rounded-xl shadow-lg flex flex-col gap-5">
            <div class="flex justify-around">
              <div class="flex flex-col items-center gap-2">
                <img src="../../../assets/images/temp/green.png" alt="" />
                <div class="flex flex-col items-center">
                  <p class="text-xs">Drill Technician</p>
                  <p class="text-[#77838F] font-semibold">2,040</p>
                </div>
              </div>
              <div class="flex flex-col items-center gap-2">
                <img src="../../../assets/images/temp/yellow.png" alt="" />
                <div class="flex flex-col items-center">
                  <p class="text-xs">Licensed Drillers</p>
                  <p class="text-[#77838F] font-semibold">100</p>
                </div>
              </div>
              <div class="flex flex-col items-center gap-2">
                <img src="../../../assets/images/temp/blue.png" alt="" />
                <div class="flex flex-col items-center">
                  <p class="text-xs">Unlicensed Drillers</p>
                  <p class="text-[#77838F] font-semibold">200</p>
                </div>
              </div>
            </div>
            <div class="">
              <div class="flex justify-between gap-10">
                <h3 class="text-[#828282] font-semibold text-xl">
                  Total Registered Borehole Drillig Service Provider
                </h3>
                <img src="../../../assets/images/temp/info.svg" alt="" />
              </div>
              <div class="flex items-end  flex-col mr-5">
                <h2 class="text-[#0B1354] text-4xl font-normal">5.987,34</h2>
                <p class="text-[#4F4F4F] text-sm">Secondary text</p>
              </div>
            </div>

            <div class="border-t pt-2 flex gap-3 max-sm:flex-wrap">
              <div class="flex gap-2 font-bold text-[#4F4F4F] items-center">
                <img src="../../../assets/images/temp/greenTechnician.svg" alt="" />
                <p>Technician</p>
              </div>
              <div class="flex gap-2 font-bold text-[#4F4F4F] items-center">
                <img src="../../../assets/images/temp/yellowTechnician.svg" alt="" />

                <p>Service Provider</p>
              </div>
              <div class="flex gap-2 font-bold text-[#4F4F4F] items-center">
                <img src="../../../assets/images/temp/blueTechnician.svg" alt="" />

                <p>Licensed</p>
              </div>
            </div>
            <div class="m-auto">
              <img src="../../../assets/images/temp/chart.svg" alt="" />
            </div>
          </div>
          <div class="border shadow rounded-xl flex flex-col gap-10 p-2">
            <div class="bg-[#EFEFEF] text-[#333] font-bold text-3xl py-2 rounded-xl">
              <h3 class="text-center pb-3">Driller Resource Center</h3>
              <div class="bg-white rounded-xl py-5 px-3 mx-1 flex flex-col gap-5">
                <h4 class="text-[#777] text-xl text-center">
                  Procedure and Guideline Documents
                </h4>
                <div class="text-[#333] text-sm border-b pb-2">
                  <p class="font-bold">
                    Download Online Registration Guide Line
                  </p>
                  <p class="font-normal">
                    Meeting information and remote participation; Guidance for
                  </p>
                  <div class="flex gap-5 pt-2">
                    <button class="rounded-lg bg-[#43B3C6] text-[#C0EEF1] p-2 flex gap-2 items-center">
                      <img src="../../../assets/images/temp/view.svg" alt="" />

                      View
                    </button>
                    <button class="rounded-lg bg-[#43B3C6] text-[#C0EEF1] p-2 flex gap-2 items-center">
                      <img src="../../../assets/images/temp/download.svg" alt="" />

                      Download
                    </button>
                  </div>
                </div>
                <div class="text-[#333] text-sm border-b pb-2">
                  <p class="font-bold">
                    Download Offline Registration Guide Line
                  </p>
                  <p class="font-normal">
                    Meeting information and remote participation; Guidance for
                  </p>
                  <div class="flex gap-5 pt-2">
                    <button class="rounded-lg bg-[#43B3C6] text-[#C0EEF1] p-2 flex gap-2 items-center">
                      <img src="../../../assets/images/temp/view.svg" alt="" />

                      View
                    </button>
                    <button class="rounded-lg bg-[#43B3C6] text-[#C0EEF1] p-2 flex gap-2 items-center">
                      <img src="../../../assets/images/temp/download.svg" alt="" />

                      Download
                    </button>
                  </div>
                </div>
                <div class="text-[#333] text-sm border-b pb-2">
                  <p class="font-bold">
                    Download Online Registration Guide Line
                  </p>
                  <p class="font-normal">
                    Meeting information and remote participation; Guidance for
                  </p>
                  <div class="flex gap-5 pt-2">
                    <button class="rounded-lg bg-[#43B3C6] text-[#C0EEF1] p-2 flex gap-2 items-center">
                      <img src="../../../assets/images/temp/view.svg" alt="" />
                      View
                    </button>
                    <button class="rounded-lg bg-[#43B3C6] text-[#C0EEF1] p-2 flex gap-2 items-center">
                      <img src="../../../assets/images/temp/download.svg" alt="" />

                      Download
                    </button>
                  </div>
                </div>
                <div class=" text-sm flex gap-2">
                  <img src="../../../assets/images/temp/smallinfo.svg" alt="" />
                  <div>
                    <div>
                      <p class="text-[#0CB9DE] font-bold ">
                        Standard Procedures :
                      </p>
                      Meeting information and remote participation; Guidance for
                    </div>
                    <p class="text-[#0CB9DE]">
                      the public; Service of process; and more…
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-[#EFEFEF] text-[#333] font-bold text-3xl py-2 rounded-xl">
              <h3 class=" pl-3 pb-3">Having a Complain ?</h3>
              <div class="rounded-xl bg-white p-3 mx-1 text-sm font-normal">
                <div class="mx-5">
                  <div class="flex gap-3  flex-col">
                    <p class="font-semibold">Report Type</p>
                    <div class="flex justify-center gap-5">
                      <button class="rounded py-3 bg-[#07912E] w-full text-white">
                        Anonymous
                      </button>
                      <button class="rounded py-3 bg-white border-2 w-full text-[rgba(46, 2, 73, 0.30)]">
                        Specified Identity
                      </button>
                    </div>
                  </div>
                  <form class="flex flex-col gap-5 text-base py-10">
                    <input type="text" class="border-b-2 p-3 border-green-600" placeholder="Name" />
                    <div class="relative flex ">
                      <img src="../../../assets/images/temp/email.svg" alt="" class="absolute top-5 left-3">
                      <input type="email" class="border-b-2 p-3 w-full" />
                    </div>
                    <div class="relative flex ">
                      <img src="../../../assets/images/temp/phone.svg" alt="" class="absolute top-5 left-3">
                      <input type="number" class="border-b-2 p-3 w-full" />
                    </div>
                  </form>
                  <div class="flex gap-3  flex-col">
                    <p class="font-semibold">Report Type</p>
                    <div class="flex justify-center gap-5">
                      <button class="rounded py-3 bg-[#07912E] w-full text-white">
                        Concerns
                      </button>
                      <button class="rounded py-3 bg-white border-2 w-full text-[rgba(46, 2, 73, 0.30)]">
                        Whistleblowing
                      </button>
                    </div>
                  </div>
                  <div class="flex flex-col gap-5 pt-4">
                    <div class="w-full">
                      <p class="border-b-2 border-[#07912E]">
                        Tell Us Your Complain.
                      </p>
                      <textarea name="" id="" cols="30" rows="10" class="bg-[#F4EDED] w-full"></textarea>
                    </div>
                    <button type="submit"
                      class="border bg-[#07912E] m-auto px-10 py-3 rounded-xl text-white flex items-center gap-2">
                      <img src="../../../assets/images/temp/send.svg" alt="" />
                      Send Message
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="bg-[#EFEFEF] text-[#333] font-bold text-3xl py-2 rounded-xl">
              <h3 class=" pl-3 pb-3">Register Driller Login</h3>
              <div class="rounded-xl bg-white p-3 mx-1 text-sm font-normal flex gap-5 flex-col">
                <p class="font-semibold text-xs">
                  All registered Drillers with Hydornet Access can login and
                  manage there accounts and operation activity with the
                  LASWARCO-Hydronet Suits
                </p>
                <div class="flex justify-center gap-5">
                  <button class="rounded py-3 bg-[#07912E] w-full text-white">
                    Login
                  </button>
                  <button class="rounded py-3 bg-white border-2 w-full text-[rgba(46, 2, 73, 0.30)]">
                    Don’t Have an Account
                  </button>
                </div>
                <form class="flex flex-col gap-5 mx-5">
                  <div class="relative flex ">
                    <input type="text" class="p-3 bg-[#F8F1FF] w-full" placeholder="Email" />
                    <img src="../../../assets/images/temp/user.svg" class="absolute right-5 top-3" alt="" />
                  </div>
                  <input type="text" class="p-3 bg-[#F8F1FF]" placeholder="Пароль" />
                  <button type="submit"
                    class="border bg-[#07912E] m-auto px-10 py-3 rounded-xl text-white flex items-center gap-2">
                    <img src="../../../assets/images/temp/send.svg" alt="" />
                    Send Message
                  </button>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
    <section>
      <div class="bg-[#0CB9DE] text-white flex flex-col gap-10 p-10">
        <h6 class=" font-bold capitalize ">
          Water is a precious resource in California, and maintaining its
          quality is of utmost importance to safeguard the health of the public
          and the environment.
        </h6>
        <div class="flex justify-evenly gap-5 flex-wrap">
          <div class="flex flex-col gap-2">
            <h2 class="text-3xl font-bold">HYDRONET</h2>
            <p>Powered By Softseer Limited</p>
            <p>
              <b>Address:</b> 131 Obafemi Awolowo way Off Allen, R/About Ikeja,
              Lagos Nigeria
            </p>
            <p><b>Phone #:</b> +2348060470125</p>
            <p><b>Email:</b>CareHydronetSystems.com</p>
          </div>
          <div class="gap-5 flex flex-col">
            <h3 class="text-2xl">Industry Operators</h3>
            <ul class="text-lg flex gap-2 flex-col">
              <li class="flex items-center gap-2">
                <img src="../../../assets/images/temp/footer_truck.svg" alt="" />Water Tanker
                Service Providers
              </li>
              <li class="flex items-center gap-2">
                <img src="../../../assets/images/temp/footer_crane.svg" alt="" />Borehole Drillers
              </li>
              <li class="flex items-center gap-2">
                <img src="../../../assets/images/temp/footer_treatment.svg" alt="" />Waste Water
                Treatment
              </li>
              <li class="flex items-center gap-2">
                <img src="../../../assets/images/temp/footer_bottling.svg" alt="" />Water Bottling
                & Packaging
              </li>
              <li class="flex items-center gap-2">
                <img src="../../../assets/images/temp/footer_consumable.svg" alt="" />Water-Intensive Consumable Company
              </li>
            </ul>
          </div>
          <div class="gap-5 flex flex-col">
            <h3 class="text-2xl">Quick Links</h3>
            <ul class="text-lg flex gap-2 flex-col">
              <li>Programs</li>
              <li>Water Quality</li>
              <li>Notices</li>
              <li>Water Rights</li>
              <li>Local Agency Oversight for Site Cleanup</li>
            </ul>
          </div>
          <div class="gap-5 flex flex-col">
            <h3 class="text-2xl">Socials</h3>
            <ul class="text-lg flex gap-2 flex-col">
              <li class="flex items-center gap-2">
                <img src="../../../assets/images/temp/fb.svg" alt="" />Facebook
              </li>
              <li class="flex items-center gap-2">
                <img src="../../../assets/images/temp/insta.svg" alt="" />Instagram
              </li>
              <li class="flex items-center gap-2">
                <img src="../../../assets/images/temp/linkedin.svg" alt="" />LinkedIn
              </li>
              <li class="flex items-center gap-2">
                <img src="../../../assets/images/temp/twitter.svg" alt="" />Twitter
              </li>
              <li class="flex items-center gap-2">
                <img src="../../../assets/images/temp/youtube.svg" alt="" />YouTube
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="bg-[#222] text-white px-5 py-2 flex justify-between max-lg:flex-col gap-10">
        <ul class="gap-10 text-xl flex flex-wrap">
          <li>Back to Top</li>
          <li>Conditions of Use</li>

          <li>Privacy Policy</li>

          <li>Accessibility</li>

          <li>Contact Us</li>
        </ul>
        <ul class="gap-5 text-xl flex px-5">
          <li><img src="../../../assets/images/temp/fb.svg" alt="" /></li>
          <li><img src="../../../assets/images/temp/insta.svg" alt="" /></li>

          <li><img src="../../../assets/images/temp/linkedin.svg" alt="" /></li>

          <li><img src="../../../assets/images/temp/twitter.svg" alt="" /></li>

          <li><img src="../../../assets/images/temp/youtube.svg" alt="" /></li>

        </ul>
      </div>
    </section>
  </div>
</div> -->
<app-home-slider></app-home-slider>
<app-landing-toolbar></app-landing-toolbar>
<app-main-content></app-main-content>