<section>
  <div class="bg-[#0CB9DE] text-white flex flex-col gap-10 py-4 px-5">
    <h6 class="font-bold uppercase">Water is a precious resource in California, and maintaining its quality is of
      utmost importance to safeguard the health of the public and the environment.
    </h6>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-3">
      <div class="flex flex-col gap-2">
        <h2 class="text-3xl font-bold">HYDRONET</h2>
        <p>Powered By Softseer Limited</p>
        <p>
          <b>Address:</b> 131 Obafemi Awolowo way Off Allen, R/About Ikeja,
          Lagos Nigeria
        </p>
        <p><b>Phone #:</b> +2348060470125</p>
        <p><b>Email:</b>CareHydronetSystems.com</p>
      </div>
      <div class="gap-5 flex flex-col">
        <h3 class="text-2xl">Industry Operators</h3>
        <ul class="text-lg flex gap-2 flex-col">
          <li class="flex items-center gap-2">
            <img src="../../../assets/images/temp/footer_truck.svg" alt="" />Water Tanker
            Service Providers
          </li>
          <li class="flex items-center gap-2">
            <img src="../../../assets/images/temp/footer_crane.svg" alt="" />Borehole Drillers
          </li>
          <li class="flex items-center gap-2">
            <img src="../../../assets/images/temp/footer_treatment.svg" alt="" />Waste Water
            Treatment
          </li>
          <li class="flex items-center gap-2">
            <img src="../../../assets/images/temp/footer_bottling.svg" alt="" />Water Bottling
            & Packaging
          </li>
          <li class="flex items-center gap-2">
            <img src="../../../assets/images/temp/footer_consumable.svg" alt="" />Water-Intensive Consumable Company
          </li>
        </ul>
      </div>
      <div class="gap-5 flex flex-col">
        <h3 class="text-2xl">Quick Links</h3>
        <ul class="text-lg flex gap-2 flex-col">
          <li>Programs</li>
          <li>Water Quality</li>
          <li>Notices</li>
          <li>Water Rights</li>
          <li>Local Agency Oversight for Site Cleanup</li>
        </ul>
      </div>
      <div class="gap-5 flex flex-col">
        <h3 class="text-2xl">Socials</h3>
        <ul class="text-lg flex gap-2 flex-col">
          <li class="flex items-center gap-2">
            <img src="../../../assets/images/temp/fb.svg" alt="" />Facebook
          </li>
          <li class="flex items-center gap-2">
            <img src="../../../assets/images/temp/insta.svg" alt="" />Instagram
          </li>
          <li class="flex items-center gap-2">
            <img src="../../../assets/images/temp/linkedin.svg" alt="" />LinkedIn
          </li>
          <li class="flex items-center gap-2">
            <img src="../../../assets/images/temp/twitter.svg" alt="" />Twitter
          </li>
          <li class="flex items-center gap-2">
            <img src="../../../assets/images/temp/youtube.svg" alt="" />YouTube
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bg-[#222] text-white px-5 py-2 flex justify-between max-lg:flex-col gap-10">
    <ul class="gap-1 md:gap-10 text-xl flex flex-wrap flex-col md:flex-row">
      <li>Back to Top</li>
      <li>Conditions of Use</li>
      <li>Privacy Policy</li>
      <li>Accessibility</li>
      <li>Contact Us</li>
    </ul>
    <ul class="gap-5 text-xl flex justify-around px-5">
      <li><img src="../../../assets/images/temp/fb.svg" alt="" /></li>
      <li><img src="../../../assets/images/temp/insta.svg" alt="" /></li>
      <li><img src="../../../assets/images/temp/linkedin.svg" alt="" /></li>
      <li><img src="../../../assets/images/temp/twitter.svg" alt="" /></li>
      <li><img src="../../../assets/images/temp/youtube.svg" alt="" /></li>
    </ul>
  </div>
</section>