<div class="grid lg:grid-cols-2 gap-4">
  <div class="bg-white p-4 rounded-2xl shadow-xl mt-4">
    <div class="w-[85%] p-2 font-[Quicksand] m-auto">
      <h2 class="font-[Quicksand] font-bold text-[#0CB9DE] text-2xl mt-4">121 BoreHole Activities</h2>
      <div class="flex flex-col mb-4 font-[Quicksand]">
        <p class="font-bold text-sm py-2 font-[Quicksand]">LSWRC Compilance Grading</p>
        <p-progressBar [value]="15" [showValue]="false" [style]="{ height: '8px' }" color="#0CB9DE"></p-progressBar>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="flex justify-between px-4">
        <p class="text-sm font-semibold font-[Quicksand]">Borehole License</p>
        <p class="text-[#0CB9DE] font-bold text-2xl font-[Quicksand]">&euro;64</p>
      </div>
      <div class="bg-[#0CB9DE] rounded-2xl shadow-xl px-8 py-4 mt-4">
        <ul class="text-white text-sm list-disc">
          <li class=" font-[Quicksand]">Convers for Yearly Drill permit and Lagos State Operator License</li>
          <li class=" font-[Quicksand]">Families with strollers, and visitors on crutches can buy priority tickets at
            the venue</li>
        </ul>
      </div>
      <div class="bg-[#B5E0E8] rounded-2xl shadow-xl px-8 py-4 mt-4 ">
        <p class="text-sm font-semibold font-[Quicksand]">Hydronet Driller Software Application Access</p>
        <ul class="text-white text-sm list-disc px-4">
          <li class="text-gray-400 font-[Quicksand]">Yearly Subscription to the LSWRC Driller Software & Application
          </li>
        </ul>
        <div class="flex mt-2 w-[40%] justify-between">
          <p class="text-[#0CB9DE] font-bold text-sm font-[Quicksand]">&euro;64</p>
          <div class="flex shadow-md rounded-full bg-white">
            <button class="w-[30%] rounded-l-full bg-white px-4 text-sm">-</button>
            <button class="w-[45%] rounded-full bg-[#0CB9DE] px-4 text-sm">1</button>
            <button class="w-[30%] rounded-r-full bg-white px-4 text-sm">+</button>
          </div>
        </div>
      </div>
      <div class="bg-[#B5E0E8] rounded-2xl shadow-xl px-8 py-4 mt-4 ">
        <p class="text-sm font-semibold font-[Quicksand]">Hydronet Driller Software Application Access</p>
        <ul class="text-white text-sm list-disc px-4">
          <li class="text-gray-400 font-[Quicksand]">Yearly Subscription to the LSWRC Driller Software & Application
          </li>
        </ul>
        <div class="flex mt-2 w-[40%] justify-between">
          <p class="text-[#0CB9DE] font-bold text-sm font-[Quicksand]">&euro;64</p>
          <div class="flex shadow-md rounded-full bg-white">
            <button class="w-[30%] rounded-l-full bg-white px-4 text-sm">-</button>
            <button class="w-[45%] rounded-full bg-[#0CB9DE] px-4 text-sm">1</button>
            <button class="w-[30%] rounded-r-full bg-white px-4 text-sm">+</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-white p-4 rounded-2xl shadow-xl mt-4 flex flex-col justify-between">
    <h2 class="font-[Quicksand] font-bold text-2xl my-4">Your Renewal Overview</h2>
    <div class="flex mb-4">
      <img src="../../../../assets/images/dummyLogo.png" alt="Logo" class="rounded-lg w-[25%] " />
      <div class="px-4 flex flex-col">
        <h2 class="font-[Quicksand] font-bold text-2xl mt-4">Wine tasting In Tuscany</h2>
        <p class="py-1">
          <i class="pi pi-calendar"></i>
          23 DEC 2023 - 23 DEC 2024
        </p>
        <div class="text-white px-8 py-1 text-xs bg-red-500 rounded-lg text-center mt-2">Pending License</div>
      </div>
    </div>
    <div class="my-4">
      <div class="flex my-8 px-4 justify-between">
        <div class="w-[20%] flex shadow-md rounded-full bg-white">
          <button class="w-[30%] rounded-l-full bg-white px-4 text-xs">-</button>
          <button class="w-[45%] rounded-full bg-[#0CB9DE] px-4 text-xs">1</button>
          <button class="w-[30%] rounded-r-full bg-white px-4 text-xs">+</button>
        </div>
        <div class="w-[75%] flex justify-between px-2">
          <p>
            <span class="w-6 h-6 rounded-full text-white bg-[#0CB9DE] px-2 py-1">2</span>
            <span class="px-4 font-[Quicksand] text-sm">LSWRC Borehole Driller's Permit</span>
          </p>
          <p class="font-[Quicksand] font-bold text-sm self-center">&euro;64.00</p>
        </div>
      </div>
      <div class="flex my-8 px-4 justify-between">
        <div class="w-[20%] flex shadow-md rounded-full bg-white">
          <button class="w-[30%] rounded-l-full bg-white px-4 text-xs">-</button>
          <button class="w-[45%] rounded-full bg-[#0CB9DE] px-4 text-xs">1</button>
          <button class="w-[30%] rounded-r-full bg-white px-4 text-xs">+</button>
        </div>
        <div class="w-[75%] flex justify-between px-2">
          <p>
            <span class="w-6 h-6 rounded-full text-white bg-[#0CB9DE] px-2 py-1">2</span>
            <span class="px-4 font-[Quicksand] text-sm">Hydronet Driller Subscription</span>
          </p>
          <p class="font-[Quicksand] font-bold text-sm self-center">&euro;22.00</p>
        </div>
      </div>
      <div class="flex my-8 px-4 justify-between">
        <div class="w-[20%] flex shadow-md rounded-full bg-white">
          <button class="w-[30%] rounded-l-full bg-white px-4 text-xs">-</button>
          <button class="w-[45%] rounded-full bg-[#0CB9DE] px-4 text-xs">1</button>
          <button class="w-[30%] rounded-r-full bg-white px-4 text-xs">+</button>
        </div>
        <div class="w-[75%] flex justify-between px-2">
          <p>
            <span class="w-6 h-6 rounded-full text-white bg-[#0CB9DE] px-2 py-1">2</span>
            <span class="px-4 font-[Quicksand] text-sm">Monthly Featured Listing</span>
          </p>
          <p class="font-[Quicksand] font-bold text-sm self-center">&euro;0.00</p>
        </div>
      </div>
    </div>
    <div>
      <div class="my-8 flex justify-between">
        <p class="text-xl font-[Quicksand] font-bold">Total Price</p>
        <p class="text-xl font-[Quicksand] font-bold text-[#0CB9DE]">&euro;86.00</p>
      </div>
      <button class="mt-4 w-full rounded-full bg-[#0CB9DE] text-white py-2 font-[Quicksand] font-bold"
        [routerLink]="['../issue']">Go to the Next Step</button>
    </div>
  </div>
</div>