<div>
  <app-driller-stepper [curStep]="curStep" [steps]="steps" />
  <div class="grid grid-cols-2 gap-4 p-4">
    <div class="bg-white shadow-xl rounded-xl p-4">
      <div class="my-2">
        <h2 class="text-lg font-bold">Enter your business registration information</h2>
        <p class="text-xs py-2">Provide your registered business details, so Paystack can verify your business
          information.</p>
      </div>
      <div class="my-2 grid sm:grid-cols-2 gap-4">
        <div>
          <div class="w-full border-2 border-[#3CBC81] rounded-md flex flex-col relative">
            <div class="w-full flex mt-2 justify-end">
              <div class="w-[20%]">
                <div class="bg-[#3CBC81] rounded-full w-5 h-5 flex items-center justify-center text-white">
                  <i class="pi pi-check text-xs"></i>
                </div>
              </div>
            </div>
            <div class="w-full">
              <div
                class="w-[80%] rounded-lg border-dashed border border-gray-300 p-2 flex items-center justify-around gap-2 mb-1">
                <img src="../../../../assets/images/license.png" alt="" class="w-20">
                <button class="rounded-sm px-2 p-1 text-white text-[8px] shadow-md bg-[#1976D2]">SELECT FILE</button>
              </div>
            </div>
            <p class="absolute text-sm text-[#3CBC81] font-bold bg-white left-8 px-4 -top-3 ">CAC 2</p>
          </div>
          <p class="text-xs text-[#3CBC81]">Username available</p>
        </div>
        <div>
          <div class="w-full border-2 border-[#3CBC81] rounded-md flex flex-col relative">
            <div class="w-full flex mt-2 justify-end">
              <div class="w-[20%]">
                <div class="bg-[#3CBC81] rounded-full w-5 h-5 flex items-center justify-center text-white">
                  <i class="pi pi-check text-xs"></i>
                </div>
              </div>
            </div>
            <div class="w-full">
              <div
                class="w-[80%] rounded-lg border-dashed border border-gray-300 p-2 flex items-center justify-around gap-2 mb-1">
                <img src="../../../../assets/images/license.png" alt="" class="w-20">
                <button class="rounded-sm px-2 p-1 text-white text-[8px] shadow-md bg-[#1976D2]">SELECT FILE</button>
              </div>
            </div>
            <p class="absolute text-sm text-[#3CBC81] font-bold bg-white left-8 px-4 -top-3 ">CAC 5</p>
          </div>
          <p class="text-xs text-[#3CBC81]">Username available</p>
        </div>
        <div>
          <div class="w-full border-2 border-[#89D9DE] rounded-md flex flex-col relative">
            <div class="w-full flex mt-2 justify-end">
              <div class="w-[20%]">
                <div class=" rounded-full w-5 h-5 flex items-center justify-center text-white">
                  <i class="pi pi-check text-xs"></i>
                </div>
              </div>
            </div>
            <div class="w-full">
              <div
                class="w-[80%] rounded-lg border-dashed border border-gray-300 p-2 flex items-center justify-around gap-2 mb-1">
                <img src="../../../../assets/images/license.png" alt="" class="w-20">
                <button class="rounded-sm px-2 p-1 text-white text-[8px] shadow-md bg-[#1976D2]">SELECT FILE</button>
              </div>
            </div>
            <p class="absolute text-sm text-[#89D9DE] font-bold bg-white left-8 px-4 -top-3 ">CAC 7</p>
          </div>
          <p class="text-xs text-[#89D9DE]">Username available</p>
        </div>
        <div>
          <div class="w-full border-2 border-[#89D9DE] rounded-md flex flex-col relative">
            <div class="w-full flex mt-2 justify-end">
              <div class="w-[20%]">
                <div class=" rounded-full w-5 h-5 flex items-center justify-center text-white">
                  <i class="pi pi-check text-xs"></i>
                </div>
              </div>
            </div>
            <div class="w-full">
              <div
                class="w-[80%] rounded-lg border-dashed border border-gray-300 p-2 flex items-center justify-around gap-2 mb-1">
                <img src="../../../../assets/images/license.png" alt="" class="w-20">
                <button class="rounded-sm px-2 p-1 text-white text-[8px] shadow-md bg-[#1976D2]">SELECT FILE</button>
              </div>
            </div>
            <p class="absolute text-sm text-[#89D9DE] font-bold bg-white left-8 px-4 -top-3 ">CAC 7</p>
          </div>
          <p class="text-xs text-[#89D9DE]">Username available</p>
        </div>
        <div>
          <div class="w-full border-2 border-[#E74A3B] rounded-md flex flex-col relative">
            <div class="w-full flex mt-2 justify-end">
              <div class="w-[20%]">
                <div class="bg-[#E74A3B] rounded-full w-5 h-5 flex items-center justify-center text-white">
                  <i class="pi pi-times text-xs"></i>
                </div>
              </div>
            </div>
            <div class="w-full">
              <div
                class="w-[80%] rounded-lg border-dashed border border-gray-300 p-2 flex items-center justify-around gap-2 mb-1">
                <img src="../../../../assets/images/license.png" alt="" class="w-20">
                <button class="rounded-sm px-2 p-1 text-white text-[8px] shadow-md bg-[#1976D2]">SELECT FILE</button>
              </div>
            </div>
            <p class="absolute text-sm text-[#E74A3B] font-bold bg-white left-2 px-4 -top-3 ">Certificate of
              Incoporation</p>
          </div>
          <p class="text-xs text-[#E74A3B]">Username available</p>
        </div>
        <div>
          <div class="w-full border-2 border-[#E74A3B] rounded-md flex flex-col relative">
            <div class="w-full flex mt-2 justify-end">
              <div class="w-[20%]">
                <div class="bg-[#E74A3B] rounded-full w-5 h-5 flex items-center justify-center text-white">
                  <i class="pi pi-times text-xs"></i>
                </div>
              </div>
            </div>
            <div class="w-full">
              <div
                class="w-[80%] rounded-lg border-dashed border border-gray-300 p-2 flex items-center justify-around gap-2 mb-1">
                <img src="../../../../assets/images/license.png" alt="" class="w-20">
                <button class="rounded-sm px-2 p-1 text-white text-[8px] shadow-md bg-[#1976D2]">SELECT FILE</button>
              </div>
            </div>
            <p class="absolute text-sm text-[#E74A3B] font-bold bg-white left-2 px-4 -top-3 ">Certificate of
              Incoporation</p>
          </div>
          <p class="text-xs text-[#E74A3B]">Username available</p>
        </div>

      </div>
      <div>
        <div class="flex gap-2 items-center mt-2">
          <input type="checkbox" name="" id="" />
          <p class="text-[11px] text-[#121212] p-2">
            I certify to providing correct and authentic information 
          </p>
        </div>
        <div>
          <p class="text-[11px] text-[#121212]">
            Curating and advising outstanding impact projects is our bread and butter- and it's also a lot of work 😅.
            Every listing on this site is copy written, edited, and curated by our internal team. We also produce and
            edit
            most project videos for our small
          </p>
          <p class="text-xs text-gray-300">More</p>
        </div>
        <p class="text-[11px] text-[#121212]">
          Don't have this document at this time, <a href="" class="text-[#158BA0] underline font-bold">SKIP and Return
            Later</a>
        </p>
      </div>
    </div>
    <div class="bg-white p-4 rounded-2xl shadow-xl flex flex-col flex-grow justify-between">
      <div>
        <div class="bg-white p-4 rounded-2xl shadow-xl mt-4">
          <h2 class="text-lg font-bold text-[#148A92] mt-4">Comppliance Score Card & Tracker</h2>
          <div class="w-full flex items-center mt-4">
            <div class="w-[35%] webkit-center">
              <circle-progress [percent]="80" [radius]="50" [outerStrokeWidth]="16" [showSubtitle]="false"
                [showUnits]="false" titleFontSize="24" titleFontWeight="700" titleColor="#0CB9DE"
                [outerStrokeColor]="'#0CB9DE'" [animation]="true" title="8 / 10"
                [animationDuration]="300"></circle-progress>
              <h2 class="text-md text-[#148A92] font-bold text-center mb-2">Validation</h2>
            </div>
            <div class="border-l-2 h-32 mx-4 mb-8 border-[#148A92]"></div>
            <div class="w-[65%] flex flex-col items-center xl:px-4 lg:px-2">
              <div class="w-full grid grid-cols-2 gap-2 mb-2">
                <p class="text-xs self-center">Total Document App</p>
                <p class="text-[#0CB9DE] text-2xl font-bold">6</p>
              </div>
              <div class="w-full grid grid-cols-2 gap-2 mb-2">
                <p class="text-xs self-center">Rejected</p>
                <p class="w-fit bg-[#F36262] text-xs text-white text-center rounded-lg px-2">8 Document</p>
              </div>
              <div class="w-full grid grid-cols-2 gap-2 mb-2">
                <p class="text-xs self-center">Validation rating</p>
                <div class="flex gap-1 items-center mt-2">
                  <div *ngFor="let rating of ratings; let i = index"
                    class="flex items-center p-[2px] bg-[#148A92] w-5 h-5 rounded-full">
                    <img src="../../../assets/images/star.png" alt="" />
                  </div>
                </div>
              </div>
              <button class="rounded-full px-4 py-1 my-2 bg-[#148A92] text-white text-sm"
                [routerLink]="['../user-login']">Fix
                Submission
              </button>
            </div>
          </div>
        </div>
        <div class="bg-white p-4 rounded-2xl shadow-xl mt-4">
          <h2 class="text-lg font-bold text-[#148A92] mt-4">Business Documents</h2>
          <div class="my-4">
            <div class="flex my-4">
              <div class="bg-[#0CB9DE] rounded-full w-5 h-5 flex items-center justify-center text-white">
                <i class="pi pi-check text-xs"></i>
              </div>
              <p class="text-sm px-4">CAC 2</p>
            </div>
            <div class="flex my-4">
              <div class="bg-[#0CB9DE] rounded-full w-5 h-5 flex items-center justify-center text-white">
                <i class="pi pi-check text-xs"></i>
              </div>
              <p class="text-sm px-4">CAC 5</p>
            </div>
            <div class="flex my-4">
              <div class="bg-[#0CB9DE] rounded-full w-5 h-5 flex items-center justify-center text-white">
                <i class="pi pi-check text-xs"></i>
              </div>
              <p class="text-sm px-4">CAC 7</p>
            </div>
            <div class="flex my-4">
              <div class="bg-[#E74A3B] rounded-full w-5 h-5 flex items-center justify-center text-white">
                <i class="pi pi-times text-xs"></i>
              </div>
              <p class="text-sm px-4">Certificate of Incorporation</p>
            </div>
            <div class="flex my-4">
              <div class="bg-[#E74A3B] rounded-full w-5 h-5 flex items-center justify-center text-white">
                <i class="pi pi-times text-xs"></i>
              </div>
              <p class="text-sm px-4">Memorandum of Association</p>
            </div>
            <div class="flex my-4">
              <div class="bg-[#E74A3B] rounded-full w-5 h-5 flex items-center justify-center text-white">
                <i class="pi pi-times text-xs"></i>
              </div>
              <p class="text-sm px-4">Article of Association</p>
            </div>
            <div class="flex my-4">
              <div class="bg-[#E74A3B] rounded-full w-5 h-5 flex items-center justify-center text-white">
                <i class="pi pi-times text-xs"></i>
              </div>
              <p class="text-sm px-4">Annual Report</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex justify-center items-center my-4 flex-col">
        <button
          class="w-3/4 px-8 py-2 text-lg bg-[#0CB9DE] duration-300 hover:opacity-50 font-bold text-white rounded-xl my-2">Submit
          & Validate</button>
      </div>
    </div>
    <div class="flex justify-center items-center my-4 flex-col">
      <button
        class="w-3/4 px-8 py-2 text-lg bg-[#0CB9DE] duration-300 hover:opacity-50 font-bold text-white rounded-xl my-2"
        [routerLink]="['../validate']">Renew License</button>
    </div>
  </div>
</div>