<div class="bg-white py-4 px-8 rounded-b-2xl shadow-xl text-[#121212] brief h-full flex-col">
  <div class="float-right">
    <mat-select placeholder="Yearly"
      class="search-location border-[#0CB9DE] border outline-none text-[#0CB9DE] text-xs px-2 py-1 rounded-full bg-white min-w-[60px] text-center font-[MontserratAlternates] w-fit">
      <mat-option *ngFor="let year of ['2020', '2021', '2022', '2023', '2024']" [value]="year"
        class=" font-[MontserratAlternates]">
        {{ year }}
      </mat-option>
    </mat-select>
  </div>
  <div class="mt-2">
    <div class="flex justify-between w-full pl-4 pr-24">
      <div class="webkit-center px-2 w-[14.1%]">
        <h2 class="text-[#0CB9DE] font-semibold mb-2">Lorem Lpsum Dolor Sit</h2>
        <p class="text-xs mb-4">Lorem Ipsum Dolor Sit Amet Consectetur. Luctus Cursus.</p>
        <div class="">
          <img src="../../../assets/images/trian-up.png" alt="" />
        </div>
      </div>
      <div class="webkit-center px-2 w-[14.1%]">
        <h2 class="text-[#0CB9DE] font-semibold mb-2">Lorem Lpsum Dolor Sit</h2>
        <p class="text-xs mb-4">Lorem Ipsum Dolor Sit Amet Consectetur. Luctus Cursus.</p>
        <div class="">
          <img src="../../../assets/images/trian-up.png" alt="" />
        </div>
      </div>
      <div class="webkit-center px-2 w-[14.1%]">
        <h2 class="text-[#0CB9DE] font-semibold mb-2">Lorem Lpsum Dolor Sit</h2>
        <p class="text-xs mb-4">Lorem Ipsum Dolor Sit Amet Consectetur. Luctus Cursus.</p>
        <div class="">
          <img src="../../../assets/images/trian-up.png" alt="" />
        </div>
      </div>
      <div class="webkit-center px-2 w-[14.1%]">
        <h2 class="text-[#0CB9DE] font-semibold mb-2">Lorem Lpsum Dolor Sit</h2>
        <p class="text-xs mb-4">Lorem Ipsum Dolor Sit Amet Consectetur. Luctus Cursus.</p>
        <div class="">
          <img src="../../../assets/images/trian-up.png" alt="" />
        </div>
      </div>
      <div class="webkit-center px-2 w-[14.1%]">
        <h2 class="text-[#0CB9DE] font-semibold mb-2">Lorem Lpsum Dolor Sit</h2>
        <p class="text-xs mb-4">Lorem Ipsum Dolor Sit Amet Consectetur. Luctus Cursus.</p>
        <div class="">
          <img src="../../../assets/images/trian-up.png" alt="" />
        </div>
      </div>
      <div class="webkit-center px-2 w-[14.1%]">
        <h2 class="text-[#0CB9DE] font-semibold mb-2">Lorem Lpsum Dolor Sit</h2>
        <p class="text-xs mb-4">Lorem Ipsum Dolor Sit Amet Consectetur. Luctus Cursus.</p>
        <div class="">
          <img src="../../../assets/images/trian-up.png" alt="" />
        </div>
      </div>
      <div class="webkit-center px-2 w-[14.1%]">
        <h2 class="text-[#0CB9DE] font-semibold mb-2">Lorem Lpsum Dolor Sit</h2>
        <p class="text-xs mb-4">Lorem Ipsum Dolor Sit Amet Consectetur. Luctus Cursus.</p>
        <div class="">
          <img src="../../../assets/images/trian-up.png" alt="" />
        </div>
      </div>
    </div>
    <div
      class="text-sm text-[#0CB9DE] font-semibold font-[Quicksand] flex justify-between px-8 mx-12 bg-[#E7F4F5] rounded-full">
      <p class="my-4">2012</p>
      <p class="my-4">2013</p>
      <p class="my-4">2014</p>
      <p class="my-4">2015</p>
      <p class="my-4">2016</p>
      <p class="my-4">2017</p>
      <p class="my-4">2018</p>
      <p class="my-4">2019</p>
      <p class="my-4">2020</p>
      <p class="my-4">2021</p>
      <p class="my-4">2022</p>
      <p class="my-4">2023</p>
      <p class="my-4">2024</p>
      <p class="my-4">2025</p>
    </div>
    <div class="flex justify-between w-full pr-4 pl-24">
      <div class="webkit-center px-2 w-[14.1%]">
        <div class="">
          <img src="../../../assets/images/trian-down.png" alt="" />
        </div>
        <h2 class="text-[#0CB9DE] font-semibold mt-2">Lorem Lpsum Dolor Sit</h2>
        <p class="text-xs mb-4">Lorem Ipsum Dolor Sit Amet Consectetur. Luctus Cursus.</p>
      </div>
      <div class="webkit-center px-2 w-[14.1%]">
        <div class="">
          <img src="../../../assets/images/trian-down.png" alt="" />
        </div>
        <h2 class="text-[#0CB9DE] font-semibold mt-2">Lorem Lpsum Dolor Sit</h2>
        <p class="text-xs mb-4">Lorem Ipsum Dolor Sit Amet Consectetur. Luctus Cursus.</p>
      </div>
      <div class="webkit-center px-2 w-[14.1%]">
        <div class="">
          <img src="../../../assets/images/trian-down.png" alt="" />
        </div>
        <h2 class="text-[#0CB9DE] font-semibold mt-2">Lorem Lpsum Dolor Sit</h2>
        <p class="text-xs mb-4">Lorem Ipsum Dolor Sit Amet Consectetur. Luctus Cursus.</p>
      </div>
      <div class="webkit-center px-2 w-[14.1%]">
        <div class="">
          <img src="../../../assets/images/trian-down.png" alt="" />
        </div>
        <h2 class="text-[#0CB9DE] font-semibold mt-2">Lorem Lpsum Dolor Sit</h2>
        <p class="text-xs mb-4">Lorem Ipsum Dolor Sit Amet Consectetur. Luctus Cursus.</p>
      </div>
      <div class="webkit-center px-2 w-[14.1%]">
        <div class="">
          <img src="../../../assets/images/trian-down.png" alt="" />
        </div>
        <h2 class="text-[#0CB9DE] font-semibold mt-2">Lorem Lpsum Dolor Sit</h2>
        <p class="text-xs mb-4">Lorem Ipsum Dolor Sit Amet Consectetur. Luctus Cursus.</p>
      </div>
      <div class="webkit-center px-2 w-[14.1%]">
        <div class="">
          <img src="../../../assets/images/trian-down.png" alt="" />
        </div>
        <h2 class="text-[#0CB9DE] font-semibold mt-2">Lorem Lpsum Dolor Sit</h2>
        <p class="text-xs mb-4">Lorem Ipsum Dolor Sit Amet Consectetur. Luctus Cursus.</p>
      </div>
      <div class="webkit-center px-2 w-[14.1%]">
        <div class="">
          <img src="../../../assets/images/trian-down.png" alt="" />
        </div>
        <h2 class="text-[#0CB9DE] font-semibold mt-2">Lorem Lpsum Dolor Sit</h2>
        <p class="text-xs mb-4">Lorem Ipsum Dolor Sit Amet Consectetur. Luctus Cursus.</p>
      </div>
    </div>
  </div>
</div>